body {
    background: rgb(12, 12, 12);
}

#main-header {
    background: rgb(97, 97, 97);
    height: 55px;
    width: 40%;
    position: fixed;
    top: 0px;
    left: 30%
}

h2 {
    font-size: 27px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 4%;
    margin-top: 10px;
}

#main-header nav {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    right: 12%;
    top: 7px;
}

h1 {
    color: rgb(224, 222, 222);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-top: 10px;
}

#title {
    height: 270px;
    width: 40%;
    background: black;
    position: fixed;
    top: 45px;
    left: 30%;
}

h3 {
    color: rgb(252, 226, 82);
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13%;
    margin-top: 13%;
}

#main-flex {
    height: calc(100vh - 400px);
    width: 40%;
    background: white;
    position: fixed;
    left: 30%;
    top: 315px;
    display: flex;
    flex-wrap: wrap;
}

.top-row {
    height: 170px;
    width: 170px;
    background: rgb(120, 247, 198);
    margin-left: 8%;
    margin-top: 5%;
    border-radius: 15px;
}

.bottom-row-1 {
    height: 170px;
    width: 305px;
    background: orange;
    margin-left: 8%;
    margin-top: -115px;
}

.bottom-row-2 {
    height: 170px;
    width: 305px;
    background: orange;
    margin-left: 3%;
    margin-top: -115px;
}

.para {
    height: 100px;
    width: 265px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 4%;
    margin-top: 23%;
    position: fixed;
}

.image {
    position: fixed;
    left: 53%;
    top: 77%;
    height: 120px;
    width: 200px;
    background-size: 100%;
    background-image: url("https://cdn2-www.dogtime.com/assets/uploads/gallery/english-bulldog-puppies/english-bulldog-7.jpg")
}


footer {
    height: 85px;
    width: 40%;
    background: rgb(51, 52, 78);
    position: fixed;
    bottom: 0px;
    left: 30%;
}